<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 text-white p-10">
      <div class="nav">
        <a class="text-blue-500" href="/read">Read Users</a>
      </div>
      <h1 class="text-3xl tracking-tight mt-10 mb-3">Create User</h1>
      <form action="/create" method="post">
        <input
          class="py-4 px-3 bg-transparent outline-none texl-xl border-1 bg-zinc-800 rounded-md"
          type="text"
          placeholder="name"
          name="name"
        />
        <input
          class="py-4 px-3 bg-transparent outline-none texl-xl border-1 bg-zinc-800 rounded-md"
          type="text"
          placeholder="email"
          name="email"
        />
        <input
          class="py-4 px-3 bg-transparent outline-none texl-xl border-1 bg-zinc-800 rounded-md"
          type="text"
          placeholder="image-url"
          name="image"
        />
        <input
          class="bg-blue-500 px-4 py-4 ml-2 rounded-md cursor-pointer"
          type="submit"
          value="Create user"
        />
      </form>
    </div>
  </body>
</html>
